<!DOCTYPE html>
<html lang="en">

    <head>
        <title>YelpCamp</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>

    <body>
        <nav class="navbar navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="/">YelpCamp</a>
            </div>
            <div>
                <ul class="nav justify-content-end">
                    <li><button><a href="/">Log in</a></li></button>
                    <li><button><a href="/">Sign Up</a></li></button>
                    <li><button><a href="/">Log out</a></li></button>
                </ul>
            </div>
        </nav>