<%- include('../partials/header') -%>

<div class="container">
    <h1>Create New Campground</h1>
    <form action="/campgrounds" method="POST">
        <div class="mb-3 row">
            <div class="col-sm-10">
                <input type="text" name="name" placeholder="name">
            </div>
        </div>
        <div class="mb-3 row">
            <div class="col-sm-10">
                <input type="text" name="image" placeholder="image url">
            </div>
        </div>
        <div class="mb-3 row">
            <div class="col-sm-10">
                <input type="text" name="description" placeholder="description">
            </div>
        </div>
        <button>Submit!</button>
    </form>
    


    <a href="/campgrounds">Go Back</a>
</div>


<%- include('../partials/footer') -%>
